<!DOCTYPE html>
<html>
<head>
  <script src="https://kit.fontawesome.com/aa80f1a8dd.js" crossorigin="anonymous"></script>
	<title></title>
  <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
	<header>
		<h1></h1>
		<nav>
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section>
			<h2></h2>
			<p></p>
			<p></p>
		</section>
    <div class="container_grid">
      <div class="modal">
      <div class='carousel'>
        <div id="close-carousel">
          <div class="x">
          <div id="barra1"></div>
          <div id="barra2"></div>
          </div>
        </div>
        <div class="setas">
        <div class="seta-esq">
        <div id='prev-card'><i class="fa-solid fa-angle-left" style="color: #ffffff;"></i></div>
        </div>
        <div class="seta-dir">
        <div id='next-card'><i class="fa-solid fa-angle-right" style="color: #ffffff;"></i></div>
        </div>
        </div>
        <div class="centered-container">
      <img class="modal-content" src="" alt="">
          </div>
      </div>
      <span class="close"></span>
      </div>
      <div class='carousel-images'>
      <div class="card_small card_exp">
        <img class="img_card" src="https://cdn.shopify.com/s/files/1/0001/9202/0527/products/quadros-democrart-gustavo-jacob-paisagem-idilica-wanaka-tree-NZ-galeria-de-arte-obras-de-arte_875x.jpg?v=1528209266" alt="">
        <figcaption>The water was freezing!</figcaption>
      </div>
      <div class="card_small card_exp">
        <img class="img_card" src="https://wallpaperaccess.com/full/176937.jpg" alt="">
        <figcaption>The water was freezing!</figcaption>
      </div>
      <div class="card_medium card_exp">
        <img class="img_card" src="https://img.freepik.com/fotos-gratis/floresta-do-outono_1182-869.jpg?w=2000" alt="">
        <figcaption>The fall came early!</figcaption>
      </div>
      <div class="card_large card_exp">
        <img class="img_card" src="https://images.hdqwalls.com/wallpapers/beautiful-landscape-digital-art-4k-tj.jpg" alt="">
        <figcaption>The water was freezing!</figcaption>
        </div>
       <div class="card_small card_exp">
        <img class="img_card" src="https://external-preview.redd.it/vBmSeLVnhHRFlK0Se7WloKYhvOJhQ2pgftaesz33K30.png?auto=webp&s=dd6b2756b75924d866413cdeabcc3c202f5974c2" alt="">
        <figcaption>The water was freezing!</figcaption>
      </div>
      <div class="card_small card_exp">
        <img class="img_card" src="https://www.estudokids.com.br/wp-content/uploads/2020/02/o-que-e-paisagem.jpg" alt="">
        <figcaption>The water was freezing!</figcaption>
      </div>
      <div class="card_medium card_exp">
        <img class="img_card" src="https://i.pinimg.com/736x/09/45/b8/0945b873ddd15f862b82890f82767e39.jpg" alt="">
        <figcaption>The water was freezing!</figcaption>
      </div>
      <div class="card_large card_exp">
        <img class="img_card" src="https://c.wallhere.com/photos/ab/f5/AI_art_landscape_digital_art_ocean_view_reflection_rocks_sunset_clouds-2223954.jpg!d" alt="">
        <figcaption>The water was freezing!</figcaption>
        </div>
        </div>
    </div>
		<section>
			<h2></h2>
			<p></p>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>
	</main>

	<footer>
		<p></p>
	</footer>
</body>
</html>
